
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-topbar w3-border-blue w3-margin-right w3-margin-left">
<table width = "100%" border = 0 >

<tr><td>
  <font family = 'courier' size='5'><b>IRA</b> - Deal Details</font>
</td><td align = "right">

<a href = '/home'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td></tr>

<tr><td align = "left">
  <a href = "/">Home</a>&emsp;
</td><td>
</td><td align = "right">
</td></tr>

<tr><td>
  <br>
Deal details for: <font family = 'courier' size='4'><b>{{dealName}}</b></font>
</td></tr>
</table>
</div>

{{#if deal}}
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">
  <table width = "100%" border = 0>
        <colgroup>
        <col width="5%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="5%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="5%"/>
        </colgroup>



              <tr>
                <td></td>
                <td align="right">Properties' Value:</td>
                <td align="right">{{deal.formatted_aggregate_value}}</td>
                <td></td>
                <td>Properties' Debt/Loan:</td>
                <td align="right">{{deal.formatted_aggregate_debt}}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td align="right">Deal Cash and Assets:</td>
                <td align="right">{{deal.formatted_cash_assets}}</td>
                <td></td>
                <td>Deal Debt/Loan:</td>
                <td align="right">{{deal.formatted_deal_debt}}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td align="right">Total Value:</td>
                <td align="right">{{deal.formatted_total_value}}</td>
                <td></td>
                <td >Total Debt</td>
                <td align="right">{{deal.formatted_total_debt}}</td>
                <td></td>
              </tr>
            <tr>
              <td></td>
              <td align="right"></td>
              <td align="right"></td>
              <td></td>
              <td >Deal Equity Value</td>
              <td align="right"><b>{{deal.formatted_equity_value}}</b></td>
              <td></td>
            </tr>



                <tr>
                  <td></td>
                  <td align="right">Notes:</td>
                    <td colspan="4"> &emsp;{{deal.notes}}</td>
                  <td></td>
                </tr>
</table>
</div>
{{/if}}


<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">
Ownership details: <b>{{message}}</b>
</div>


{{#if investors}}
{{#each investors}}
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">

  <table width = "100%" border = 0>
        <colgroup>
        <col width="5%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="15%"/>
        <col width="15%"/>
        <col width="15%"/>
        <col width="0%"/>
        </colgroup>



      <tr>
          <td align="center">{{id}}</td>
          <td align="left">
              <a href = "/portfolio/{{investor_id}}">
            <b>{{investor_name}}</b></a>
          </td>
          <td align="left">{{passthru_name}}</td>
          <td>{{capital_pct}}%</td>
          <td>{{formattedAmount}}</td>
          <td>{{wired_date}}</td>
          <td></td>
      </tr>
      </table>
</div>
{{/each}}
 {{/if}}
 <div class="w3-panel w3-pale-blue w3-leftbar
  w3-rightbar w3-bottombar w3-border-blue w3-margin-right w3-margin-left">
  <table width = "100%" border = 0>
        <colgroup>
          <col width="5%"/>
          <col width="20%"/>
          <col width="20%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="0%"/>
        </colgroup>



      <tr>
        <td></td>
        <td></td>
        <td>Total Inv. Capital:</td>
        <td><b>{{totalCapitalPct}}%</b></td>
        <td><b>{{totalCapital}}</b></td>

        <td></td>
        <td></td>
      </tr>


      </table>

</div>

 &emsp; &emsp;<br>
 &emsp;&emsp;<br>
 <br><br>
