<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-topbar w3-border-blue w3-margin-right w3-margin-left">
<table width = "100%" border = 0 >

<tr><td>
  <font family = 'courier' size='5'><b>IRA</b> - Home</font>&emsp;v.{{iraVersion}}
</td><td align = "right">
<a href = '/home'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td></tr>

<tr><td align = "left">
</td><td>
</td><td align = "right">
</td></tr>

<tr><td>
 {{message}}
</td></tr>
</table>
</div>


{{#if menuoptions}}
{{#each menuoptions}}
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">

  <table width = "100%" border = 0>
        <colgroup>
        <col width="5%"/>
        <col width="90%"/>
        <col width="5%"/>
        </colgroup>

      <tr>
        <td></td>

        <td align = "center">
            <a href = '{{link}}'>{{name}}</a>
        </td>

        <td></td>
      </tr>

  </table>
</div>
{{/each}}
<br><br><br>
 {{/if}}
 &emsp; &emsp;{{sessioninfo}}
 <br><br>
