<div class="w3-panel w3-pale-green w3-leftbar
 w3-rightbar w3-topbar w3-border-blue w3-margin-right w3-margin-left">


<table width = "100%" border = 0 >
<tr>
<td align="center">
  <img width="75" src = "../static/GP_Prop_logo_1.png">
</td>


<td>
<table width = "100%" border = 0 >
<tr>
<td>
    &nbsp;<font family = 'courier' size='6'><b>IRA</b> - Home</font>&emsp;
</td>

<td align = "right">
      <a href = '/updateuser'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td>
</tr>

<tr>

<td>&nbsp;v.{{iraVersion}}</td>
<td align = "right"></td>
</tr>

<tr>
    <td align = "left">&nbsp;{{message}}</td>
    <td>

    </td>

</tr>
</table>
</td>
</tr>
</table>
</div>

<table width = "100%" border = 0>
      <colgroup>
      <col width="5%"/>
      <col width="90%"/>
      <col width="5%"/>
      </colgroup>

    <tr>
        <td></td>
        <td align = "center"><b>[ REPORTING ]</b></td>
        <td></td>
     </tr>
</table>




{{#if reportmenuoptions}}
{{#each reportmenuoptions}}
<div class="w3-panel w3-pale-green w3-leftbar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">
 <table width = "100%" border = 0>
      <tr>
        <td></td>
        <td align = "center">
            <a href = '{{link}}'>{{name}}</a>
        </td>
        <td></td>
      </tr>
</table>
</div>
{{/each}}
{{/if}}

<br>
<table width = "100%" border = 0>
      <colgroup>
      <col width="5%"/>
      <col width="90%"/>
      <col width="5%"/>
      </colgroup>

    <tr>
        <td></td>
        <td align = "center"><b>[ ADMINISTRATION ]</b></td>
        <td></td>
     </tr>
</table>



 {{#if adminmenuoptions}}
 {{#each adminmenuoptions}}
 <div class="w3-panel w3-pale-blue w3-leftbar
  w3-rightbar w3-border-blue w3-margin-right w3-margin-left">
   <table width = "100%" border = 0>
       <tr>
         <td></td>
         <td align = "center">
             <a href = '{{link}}'>{{name}}</a>
         </td>
         <td></td>
       </tr>
   </table>
 </div>
 {{/each}}
 {{/if}}


&emsp; &emsp;{{sessioninfo}}
