
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-topbar w3-border-blue w3-margin-right w3-margin-left">
<table width = "100%" border = 0>

<tr><td>
  <font family = 'courier' size='5'><b>IRA</b> - Entities List</font>
</td><td align = "right">
<a href = '/home'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td></tr>

<tr><td align = "left">
  <a href = "/">Home</a>&emsp;
</td><td>
</td><td align = "right">
</td></tr>

<tr><td>
  <br>
  > {{message}}
</td></tr>
</table>
</div>

{{#if entities}}
{{#each entities}}
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">

  <table width = "100%" border = 0>
        <colgroup>
        <col width="10%"/>
        <col width="35%"/>
        <col width="0%"/>
        <col width="25%"/>
        <col width="15%"/>
        <col width="10%"/>
        </colgroup>


        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


      <tr>
          <td align="center">{{id}}</td>
          <td align="left"><b>{{name}}</b></td>
          <td>

          </td>
          <td >{{taxid}}</td>
          <td>
                 {{#ifEqual entity_type "Deal"}}
                     <a href = "/ownership/{{id}}">{{entity_type}}</a>
                  {{else}}
                     {{entity_type}}
                  {{/ifEqual}}
          </td>
          <td align="left">
            {{#ifEqual entity_type "Deal"}}
            <a href = "/dealdetails/{{id}}">
                <img width="30" src = "../static/file-black-512.png">
            </a>
            {{else}}
            {{/ifEqual}}


                </td>

      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>

      </table>
</div>
{{/each}}
<br>
 {{/if}}

<br><br>
 &emsp; &emsp;
 <br><br>
