
<div class="w3-panel w3-pale-green w3-leftbar
 w3-rightbar w3-topbar w3-border-green w3-margin-right w3-margin-left">
<table width = "100%" border = 0 >

<tr><td>
  <font family = 'courier' size='5'><b>DealTrak</b> - Investor Portfolio</font>
</td><td align = "right">

<a href = '/portfolio/{{userObj.id}}'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td></tr>

<tr><td align = "left">
  <a href = "/">Home</a>&emsp;<a href = "/investors">Investors</a>&emsp;<a href = "/properties">Properties</a>&emsp;
</td><td>
</td><td align = "right">
</td></tr>

<tr><td>
  <br>
  > Portfolio for: <b>{{portfolioOwner}}</b>
</td></tr>
</table>
</div>

{{#if investments}}
{{#each investments}}
<div class="w3-panel w3-pale-green w3-leftbar
 w3-rightbar w3-border-green w3-margin-right w3-margin-left">

  <table width = "100%" border = 0>
        <colgroup>
        <col width="5%"/>
        <col width="30%"/>
        <col width="15%"/>
        <col width="15%"/>
        <col width="15%"/>
        <col width="10%"/>
        <col width="5%"/>
        </colgroup>


        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      <tr>
          <td align="center">{{id}}</td>
          <td align="left"><b>{{address}}, New York, {{zip}}</b></td>
          <td >{{units}} units</td>
          <td>${{propValue}}M</td>
          <td>{{percent}}%</td>
          <td>${{investorValue}}M</td>
          <td align="left">
                <a href = "/viewprop/{{id}}"><img width="30" src = "../static/file-black-512.png"></a>
          </td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </table>
</div>
{{/each}}
 {{/if}}
 <div class="w3-panel w3-pale-green w3-leftbar
  w3-rightbar w3-bottombar w3-border-green w3-margin-right w3-margin-left">
  <table width = "100%" border = 0>
        <colgroup>
        <col width="5%"/>
        <col width="30%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="29%"/>
        <col width="10%"/>
        <col width="10%"/>
        </colgroup>



      <tr>
        <td></td>
        <td>{{message}}</td>
        <td></td>
        <td></td>
        <td>Total Portfolio Value:</td>
        <td><b>${{totalPortfolioValue}}M</b></td>
        <td></td>
      </tr>


      </table>

</div>

 &emsp; &emsp;<br>
 &emsp;&emsp;<br>
 <br><br>
