
<div class="w3-panel w3-pale-blue w3-leftbar
 w3-rightbar w3-topbar w3-border-blue w3-margin-right w3-margin-left">
<table width = "100%" border = 0 >

<tr><td>
  <font family = 'courier' size='5'><b>IRA</b> - Investment Summary</font>
</td><td align = "right">

  <a href = '/updateuser'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
</td></tr>

<tr><td align = "left">
  <a href = "/">Home</a>&emsp;
</td><td>
</td><td align = "right">
</td></tr>

<tr><td>
Investment Summary for: <font family = 'courier' size='4'><b>{{investorName}}</b></font>
</td></tr>
<tr><td>
{{message}}
</td></tr>
</table>
</div>


{{#if investments}}
{{#each investments}}
<div class="w3-panel w3-pale-blue w3-leftbar w3-topbar w3-bottombar
 w3-rightbar w3-border-blue w3-margin-right w3-margin-left">

  <br>
  <table width = "100%" border = 0>
        <colgroup>
        <col width="5%"/>
        <col width="30%"/>
        <col width="20%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="5%"/>
        </colgroup>


      <tr>
          <td align="center">{{investment_id}}</td>








          <td align="left" style="border-bottom: thin solid"><font size = 4>

                  {{#if deal_id}}
                          <a href = "/dealdetails/{{investment_id}}">
                              <b>{{investment_name}}</b>
                          </a>
                  {{else}}
                          <a href = "/ownership/{{investment_id}}">
                              <b>{{investment_name}}</b>
                          </a>
                  {{/if}}
          </td>
          <td align="left">{{passthru_name}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

      </tr>
</table>

<br>
<table width = "100%" border=0>
  <colgroup>
  <col width="10%"/>
  <col width="10%"/>
  <col width="60%"/>
  <col width="10%"/>
  </colgroup>

<tr>
  <td></td>
  <td></td>
  <td align="left">

  <table style="margin-left: 10px" width = "100%" border = 0 >
      <colgroup>
      <col width="15%"/>
      <col width="20%"/>
      <col width="40%"/>
      <col width="15%"/>
      <col width="5%"/>
      </colgroup>

      <tr>

          <td><u>Date</td>
          <td align="left"><u>Transaction</u></td>
          <td><u>Notes</u></td>
          <td align="right"><u>Amount</u>&nbsp;</td>
          <td></td>

      </tr>

{{#each transactionsForDeal}}
<tr>


    <td>{{t_wired_date}}</td>
    <td align="left">{{tt_name}}</td>
    <td>{{t_notes}}</td>
    <td align="right">
      {{#ifLessThan t_amount 0}}
          <font color = "red">
                {{#formatUSD formatted_amount}}{{/formatUSD}}
          </font>
      {{else}}
                  {{#formatUSD formatted_amount}}{{/formatUSD}}&nbsp;
      {{/ifLessThan}}


    </td>
    <td></td>
</tr>

{{/each}}


<tr>
    <td align="left"></td>
    <td></td>
    <td style="border-top: thin solid">Current Cash in Deal:</td>
    <td align="right" style="border-top: thin solid"><b>

      {{#ifLessThan totalCashInDeal 0}}
          <font color = "red">
                {{#formatUSD totalCashInDeal}}{{/formatUSD}}
          </font>
      {{else}}
                  {{#formatUSD totalCashInDeal}}{{/formatUSD}}&nbsp;
      {{/ifLessThan}}



  </b>
   </td>
    <td></td>
</tr>
</table>
</td></tr>



<tr>
  <td></td>
  <td></td>
  <td align="left">

  <table style="margin-left: 10px" width = "100%" border = 0 >
      <colgroup>
      <col width="15%"/>
      <col width="20%"/>
      <col width="40%"/>
      <col width="15%"/>
      <col width="5%"/>
      </colgroup>
{{#if rolloverTransactions}}
<tr>
    <td align="left"></td>
    <td>&nbsp;</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
{{#each rolloverTransactions}}
<tr>


    <td>{{t_wired_date}}</td>
    <td align="left">{{tt_name}}</td>
    <td>{{t_notes}}</td>
    <td align="right">

      {{#ifLessThan t_amount 0}}
          <font color = "red">
                {{#formatUSD t_amount}}{{/formatUSD}}
          </font>
      {{else}}
                  {{#formatUSD t_amount}}{{/formatUSD}}&nbsp;
      {{/ifLessThan}}



    </td>
    <td></td>
</tr>

{{/each}}
 {{/if}}

<tr>
    <td align="left"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>
</td></tr>
</table>




</table>

<br>
<table width = "100%" border = 0>
      <colgroup>
      <col width="5%"/>
      <col width="9%"/>
      <col width="10%"/>
      <col width="32%"/>
      <col width="22%"/>
      <col width="10%"/>
      <col width="3%"/>
      </colgroup>

      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td align="left"><b>Estimated Valuation:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>

      <tr>
          <td align="center"> </td>
          <td align="left"></td>
          <td align="left"></td>
          <td align="right">Investor's Total Investment:&nbsp;</td>
          <td></td>
          <td align="right">{{#formatUSD totalInvestments_noRollover}}{{/formatUSD}}&nbsp;</td>
          <td></td>
      </tr>

      <tr>
          <td align="center"> </td>
          <td align="left"></td>
          <td align="left"></td>
          <td align="right">Investor's Deal Interest:&nbsp;</td>
          <td></td>
          <td align="right">{{capital_pct}}%</td>
          <td></td>
      </tr>

      <tr>
          <td align="center"> </td>
          <td align="left"></td>
          <td></td>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
      </tr>



    <tr>
        <td align="center"> </td>
        <td align="left"></td>
        <td align="left"></td>
        <td align="right">Total Asssets:&nbsp;</td>
        <td></td>
        <td align="right">{{#formatUSD expandDeal.total_assets}}{{/formatUSD}}&nbsp;</td>
        <td></td>
    </tr>

    <tr>
        <td align="center"> </td>
        <td align="left"></td>
        <td align="left"></td>
        <td align="right">In-Place Debt:&nbsp;</td>
        <td></td>
        <td align="right">{{#formatUSD expandDeal.total_debt}}{{/formatUSD}}&nbsp;</td>
        <td></td>
    </tr>


    <tr>
        <td align="center"> </td>
        <td align="left"></td>
        <td align="left"></td>
        <td align="right">Deal Equity Valuation:&nbsp;</td>
        <td></td>
        <td align="right">{{#formatUSD expandDeal.deal_equity_value}}{{/formatUSD}}&nbsp;</td>
        <td></td>
    </tr>


    <tr>
        <td align="center"> </td>
        <td align="left"></td>
        <td align="left"></td>
        <td align="right">Investor's Potential Unrealized Deal Equity:&nbsp;</td>
        <td></td>
        <td align="right"><b>{{#formatUSD investor_equity_value}}{{/formatUSD}}&nbsp;</b></td>
        <td></td>
    </tr>


    <tr>
        <td align="center"> </td>
        <td align="left"></td>
        <td></td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


</table>




</div>
{{/each}}
 {{/if}}


<br>
 <div class="w3-panel w3-pale-blue w3-leftbar w3-topbar
  w3-rightbar w3-bottombar w3-border-blue w3-margin-right w3-margin-left">
  <table width = "100%" border = 0>

    <colgroup>
    <col width="10%"/>
    <col width="10%"/>
    <col width="40%"/>
    <col width="5%"/>
    <col width="15%"/>
    <col width="20%"/>
    </colgroup>


    <tr>
        <td></td>
        <td></td>
        <td align="right">Total Portfolio Equity:</td>
        <td></td>
        <td align="right">{{#formatUSD totalPortfolioValue}}{{/formatUSD}}</td>
        <td></td>
    </tr>

    <tr>

        <td></td>
        <td></td>
        <td align="right">Total Cash Investment:</td>
        <td></td>
        <td align="right">-&nbsp;{{#formatUSD totalInvestmentValue}}{{/formatUSD}}</td>
        <td></td>
    </tr>





    <tr>

        <td></td>
        <td></td>
        <td align="right">Potential Growth in Portfolio Value:</td>
        <td></td>
        <td align="right" style="border-top: thin solid">{{#formatUSD portfolioValueGain}}{{/formatUSD}}</td>
        <td></td>
    </tr>




    <tr>
        <td></td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    <tr>

        <td></td>
        <td></td>
        <td align="right">Investor Distrubutions and Cash back:</td>
        <td></td>
        <td align="right">+&nbsp;{{#formatUSD totalDistributions}}{{/formatUSD}}</td>
        <td></td>
    </tr>

    <tr>

        <td></td>
        <td></td>
        <td align="right">Total Potential Return to Investor:</td>
        <td></td>
        <td align="right" style="border-top: thin solid"><b>{{#formatUSD portfolioCashGain}}{{/formatUSD}}</b></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td align="right">Portfolio Return on Equity (ROE):</td>
        <td></td>
        <td align="right" ><i>{{portfolioIRR}}%</i></td>
        <td></td>
    </tr>

</table>

</div>
